# Copyright (c) 2021 LION
# SPDX-License-Identifier: Apache-2.0

menuconfig MICS4514
	bool "MICS4514 MOS gas sensor"
	depends on ADC && GPIO && NEWLIB_LIBC
	help
	  Enable driver for MICS4514.
if MICS4514
config MICS4514_DEFAULT_CO_R0
	int "Default calibrated CO sensor resistance R0"
	range 0 100000
	default 41377
	help
	  The calibrated value in ohms of the stable sensor resistance
	  at 1000 ppm CO concentration.
	
config MICS4514_DEFAULT_NO2_R0
	int "Default calibrated NO2 sensor resistance R0"
	range 0 100000
	default 900
	help
	  The calibrated value in ohms of the stable sensor resistance
	  at 1000 ppm NO2 concentration.

config MICS4514_SENSOR_VREF_MV
	int "Sensor voltage reference in mv"
	range 3000 5100
	default 3300
	help
	  The voltage reference for the sensor, used to calulate sensor resistance

config MICS4514_PREHEAT_SECONDS
	int "Sensor preheat time in seconds"
	range 0 120
	default 30
	help
	  The amount of time (in seconds) to run the preheat function
endif
