/*
 * Copyright 2021 LION
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		record_partition: partition@0 {
			label = "records";
			reg = <0x0 0xff000>;
		};
	};
};

&i2c0 {
	rht_sensor: cc2d23s@28 {
		compatible = "amphenol,cc2d23s";
		reg = <0x28>;
		label = "CC2D23S";
	};
};

&pwm0 {
	status = "okay";
	ch0-pin = <13>;
	ch0-inverted;
	ch1-pin = <14>;
	ch1-inverted;
	ch2-pin = <15>;
	ch2-inverted;
};

/ {
	gas_sensor: mics4514 {
		label = "MICS4514";
		compatible = "amphenol,mics4514";
		io-channels = <&adc 2>, <&adc 1>;
		io-channel-names = "RED", "OX";
		preheat-gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
		rload-red-ohms = <47000>;
		rload-ox-ohms = <22000>;
	};
	pwmleds {
		compatible = "pwm-leds";
		pwm_led0: pwm_led_0 {
			pwms = <&pwm0 13>;
		};
		pwm_led1: pwm_led_1 {
			pwms = <&pwm0 14>;
		};
		pwm_led2: pwm_led_2 {
			pwms = <&pwm0 15>;
		};
	};
	aliases {
		red-pwm-led = &pwm_led0;
		green-pwm-led = &pwm_led1;
		blue-pwm-led = &pwm_led2;
	};
};
